body {
	font-family: sans-serif;
	text-decoration: none;
	margin: 0px;
}

nav {
	font-size: 23px;
	color: white;
	background-color: black;
	position: fixed;
	height: 85px;
	width: 100%;
	text-align: center;
	z-index: 20;
}

header a {
	text-decoration: none;
	color: white;
	margin-right: 25px;
	padding-bottom: 25px;
}

header a:hover {
	border-bottom: 7px solid white;
}

main h1 {
	text-align: center;
	animation: order 5s infinite;
}

@keyframes order {
	0% {

	}

	15% {
		transform: scale(2);
	}

	45% {
		transform: scale(1);
		transform: translateX(-150px);
	}

	60% {
		transform: scale(2);
	}

	75% {
		transform: scale(1);
		transform: translateX(150);
	}

	90% {
		transform: translateX(300);
	}

	100% {
		transform: translateX(-150);
	}

	


}

main h3 {
	text-align: center;
	color: gray;
	opacity: 0.9;
}

.delivery {
	width: 170px;
	height: 200px;
	background-color: #007aaf;
	padding-top: 10px;
	border-radius: 15px;
	margin-left: 450px;
}

.delivery-button {
	text-decoration: none;
	margin-left: 30px;
	color: white;
	background-color: #007aaf;
	font-size: 21px;
}

.delivery div {
	width: 170px;
	height: 30px;
	background-color: #007aff;
}

.collection {
	width: 170px;
	height: 200px;
	background-color: #d0021b;
	padding-top: 10px;
	border-radius: 15px;
	position: absolute;
	top: 210px;
	right: 450px;
}

.collection-button {
	text-decoration: none;
	margin-left: 17px;
	color: white;
	background-color: #d0021b;
	font-size: 21px;
}

.collection div {
	width: 170px;
	height: 30px;
	background-color: #ff021b;
}

article h1 {
	text-align: center;
	font-size: 25px;
}

.delivery-text {
	text-decoration: none;
	color: blue;
	font-size: 23px;
}

main p {
	width: 150px;
	font-size: 25px;
	text-align: center;
}

article {
	text-align: center;
}

@keyframes card {
	0% {

	}

	30% {
		transform: scale(0.5);
	}

	60% {
		rotate: 360deg;
	}

	90% {
		transform: scale(1);
	}

	100% {

	}
}

.article1 {
	box-shadow: -1px 6px 11px -4px black;
	width: 180px;
	left: 70px;
	padding-top: 10px;
	padding-left: 25px;
	position: absolute;
	height: 260px;
	border-radius: 15px;
	animation: card 5s infinite;
}

.article2 {
	box-shadow: -1px 6px 11px -4px black;
	width: 180px;
	left: 370px;
	padding-top: 10px;
	padding-left: 25px;
	position: absolute;
	height: 260px;
	border-radius: 15px;
	animation: card 5s infinite;
}

.article3 {
	box-shadow: -1px 6px 11px -4px black;
	width: 180px;
	left: 670px;
	padding-top: 10px;
	padding-left: 25px;
	position: absolute;
	height: 260px;
	border-radius: 15px;
	animation: card 5s infinite;
}

.article4 {
	box-shadow: -1px 6px 11px -4px black;
	width: 180px;
	left: 970px;
	padding-top: 10px;
	padding-left: 25px;
	position: absolute;
	height: 260px;
	border-radius: 15px;
	animation: card 5s infinite;
}

.order {
	background-color: red;
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 3px;
	border-radius: 5px;
}

.order:hover {
	background-color: firebrick;
}

footer {
	position: absolute;
	width: 1300px;
	top: 800px;
}

footer h2 {
	color: gray;
	text-align: center;
}

footer p {
	font-size: 20px;
}

footer span {
	color: gray;
	font-size: 19px;
}

.footer {
	width: 645px;
	text-align: center;
	border-right: 4px solid gray; 
}

.app {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.play {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.social {
	float: right;
	text-align: center;
	width: 645px;
	position: absolute;
	right: 5px;
	top: 50px;
}

.footer-img-1 {
	width: 60px;
	height: 60px;
	border-radius: 20px;
	margin-right: 15px;
}

.footer-img-2 {
	width: 60px;
	height: 60px;
	border-radius: 20px;
	margin-right: 15px;
}

.footer-img-3 {
	width: 60px;
	height: 60px;
	border-radius: 20px;
}

.map h1 {
	text-decoration: underline;
	color: gray;
	text-align: center;
}

.map iframe {
	margin-left: 300px;
}


.wrap {
  margin-top: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(90deg, rgba(129, 230, 21, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 50%;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transform: all 0.3s ease-in-out 0s;
}

button::before {
  content: '';
  border-radius: 50%;
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}


button::after {
  content: '';
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

